.Login-section {
    background-image: url('../assets/images/2.jpg');
    /* Adjust the path as necessary */
    background-size: auto;
    background-position: center center;
    padding: 100px 20px;
    text-align: center;
}